In [3]:
import os, sys, warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [4]:
read_path = './dataset/origin/'
write_path = './dataset/'
test = pd.read_csv(read_path+'test_stage_1.tsv', sep='\t')

In [8]:
def length(x): return len(x)
test['Text'].apply(length)

0       426
1       410
2       536
3       401
4       660
5       488
6       432
7       451
8       302
9       381
10      448
11      397
12      329
13      396
14      350
15      379
16      454
17      436
18      359
19      586
20      320
21      426
22      540
23      481
24      333
25      363
26      490
27      290
28      263
29      323
       ...
1970    385
1971    348
1972    488
1973    243
1974    507
1975    366
1976    386
1977    291
1978    335
1979    690
1980    180
1981    490
1982    403
1983    357
1984    299
1985    285
1986    263
1987    262
1988    104
1989    426
1990    339
1991    341
1992    497
1993    427
1994    261
1995    482
1996    267
1997    434
1998    383
1999    416
Name: Text, Length: 2000, dtype: int64

In [11]:
test.head()

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,B,B-offset,URL
0,development-1,Zoe Telford -- played the police officer girlf...,her,274,Cheryl Cassidy,191,Pauline,207,http://en.wikipedia.org/wiki/List_of_Teachers_...
1,development-2,"He grew up in Evanston, Illinois the second ol...",His,284,MacKenzie,228,Bernard Leach,251,http://en.wikipedia.org/wiki/Warren_MacKenzie
2,development-3,"He had been reelected to Congress, but resigne...",his,265,Angeloz,173,De la Sota,246,http://en.wikipedia.org/wiki/Jos%C3%A9_Manuel_...
3,development-4,The current members of Crime have also perform...,his,321,Hell,174,Henry Rosenthal,336,http://en.wikipedia.org/wiki/Crime_(band)
4,development-5,Her Santa Fe Opera debut in 2005 was as Nuria ...,She,437,Kitty Oppenheimer,219,Rivera,294,http://en.wikipedia.org/wiki/Jessica_Rivera